node-red/node-red-chatbot.json
[
    {
        "id": "3abed263.8092ce",
        "type": "tab",
        "label": "Chatbot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "141c8571.eb3afb",
        "type": "function",
        "z": "3abed263.8092ce",
        "name": "input_parser",
        "func": "msg.payload = msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "f8fba62e.ab0e28",
                "ece8f87e.43b458"
            ]
        ]
    },
    {
        "id": "ece8f87e.43b458",
        "type": "watson-conversation-v1",
        "z": "3abed263.8092ce",
        "name": "Assistant",
        "workspaceid": "f55ae916-a94d-4d13-aff6-4a00959f3ce0",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9f32233c-1232-4a32-9ec1-07d7545436bb",
        "timeout": "",
        "optout-learning": false,
        "x": 900,
        "y": 280,
        "wires": [
            [
                "a15e57b2.adc9c8"
            ]
        ]
    },
    {
        "id": "f8fba62e.ab0e28",
        "type": "ui_text",
        "z": "3abed263.8092ce",
        "group": "1c88401c.51415",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "Chat Input",
        "label": "<b>Chat Input => </b>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "a15e57b2.adc9c8",
        "type": "function",
        "z": "3abed263.8092ce",
        "name": "output_parser",
        "func": "let text_ = \"\";\n// text_ += \"<center>BOT REPLY</center><br/>\";\n\ntry {\n\n    if (msg.payload.intents[0].intent == \"product\") {\n        let score_1 = msg.payload.context.webhook_result_1.passages[0].passage_score;\n        let text_1 = msg.payload.context.webhook_result_1.passages[0].passage_text;\n\n        let score_2 = msg.payload.context.webhook_result_1.passages[1].passage_score;\n        let text_2 = msg.payload.context.webhook_result_1.passages[1].passage_text;\n\n        \n        let sum_scores = score_1 + score_2;\n        \n        text_ += `<mark>SCORE:</mark> ${(score_1/sum_scores).toFixed(3)}<br/>`;\n        text_ += `<mark>TEXT:</mark> ${text_1}`;\n    \n        text_ += \"<br/>--------------------------<br/>\";\n    \n        text_ += `<mark>SCORE:</mark> ${(score_2/sum_scores).toFixed(3)}<br/>`;\n        text_ += `<mark>TEXT:</mark> ${text_2}`;\n    \n        \n    } \n    else {\n        text_ += msg.payload.output.text[0];\n    }\n} catch (err) {\n    \n        text_ = \"Sorry, please try again.\";\n}\n\nfinally{\n    msg.payload = text_;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1180,
        "y": 280,
        "wires": [
            [
                "9e95d113.a30ef"
            ]
        ]
    },
    {
        "id": "9e95d113.a30ef",
        "type": "ui_text",
        "z": "3abed263.8092ce",
        "group": "7aed4a80.185e74",
        "order": 1,
        "width": "12",
        "height": "3",
        "name": "Bot Reply",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1480,
        "y": 280,
        "wires": []
    },
    {
        "id": "84c01ecd.54815",
        "type": "ui_button",
        "z": "3abed263.8092ce",
        "name": "CLEAR",
        "group": "fba951b0.31df6",
        "order": 2,
        "width": "12",
        "height": "1",
        "passthru": false,
        "label": "Clear",
        "tooltip": "Clear all",
        "color": "red",
        "bgcolor": "black",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "f8fba62e.ab0e28",
                "191dd968.0c0107",
                "2298bc40.b27464"
            ]
        ]
    },
    {
        "id": "191dd968.0c0107",
        "type": "ui_text_input",
        "z": "3abed263.8092ce",
        "name": "User Input",
        "label": "Type here",
        "tooltip": "",
        "group": "1c88401c.51415",
        "order": 2,
        "width": "12",
        "height": "2",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "141c8571.eb3afb"
            ]
        ]
    },
    {
        "id": "2298bc40.b27464",
        "type": "function",
        "z": "3abed263.8092ce",
        "name": "Welcome",
        "func": "let text_ = \"Hello, I’m a product customer care virtual assistant, I can help you with questions related to the new OnePlus 8 Pro smartphone.\";\nmsg.payload = text_;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 580,
        "wires": [
            [
                "9e95d113.a30ef"
            ]
        ]
    },
    {
        "id": "b31324f5.3a8208",
        "type": "inject",
        "z": "3abed263.8092ce",
        "name": "",
        "topic": "",
        "payload": "Hi",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "191dd968.0c0107",
                "141c8571.eb3afb"
            ]
        ]
    },
    {
        "id": "1c88401c.51415",
        "type": "ui_group",
        "z": "",
        "name": "User Input  ",
        "tab": "2b36e080.fc229",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "7aed4a80.185e74",
        "type": "ui_group",
        "z": "",
        "name": "Bot Reply",
        "tab": "2b36e080.fc229",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "fba951b0.31df6",
        "type": "ui_group",
        "z": "",
        "name": "CLEAR",
        "tab": "2b36e080.fc229",
        "order": 3,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "2b36e080.fc229",
        "type": "ui_tab",
        "z": "",
        "name": "Chatbot",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
